@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Serif:opsz,wght@8..144,100;8..144,300&display=swap');

.info{
  display: flex;
}

h1 {
  color: #C1A3A3;
  font-family: 'Playfair Display', serif;
  font-size: 32PX;
}

p {
  color: #886F6F;
  margin: 20px auto;
  font-weight: 500;
}

.img-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  border: 2px solid rgba(255,255,255,.5);
}

h2 {
  color: #ffffff;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

body {
  font-weight: 300;
  background:#dbb6bd;
  color:#fff;
  font-family:Arial,sans-serif;
}

a {
  text-decoration: none;
  color: #694E4E;
  text-shadow:  #00000010 1px 0 10px;
}

.btn {
  font-family: 'Roboto Serif', serif;
  background-color: #ffffff;
  padding: 10px;
  margin: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.btn:hover {
  color: #ffffff;
  background-color:#F1C5C5;
  transition-duration: 2s,
}

.btn:not(:hover) {
  transition-duration: 1s;
}

li {
  font-size: 30px;
}

.list-inline li a:hover {
  transition-duration: 1s;
  color: #ffffff;
  font-size: larger;
}

.list-inline li a:not(:hover) {
  transition-duration: 1s;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.card-white{
  text-align: center;
  background-color: #bb8d96;
  padding: 20px;
  margin: 30px 60px;
  border: 2px solid rgba(255,255,255,.5);
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

@media (max-width: 960px){
  .container {
    width: 600px;
    margin: 0 auto;
  }

  .img-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 720px){
  .container {
    width: 500px;
    margin: 0 auto;
  }

  .img-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 540px){
  .container {
    width: 300px;
    margin: 0 auto;
  }

  .img-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
}
