@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Serif:opsz,wght@8..144,100;8..144,300&display=swap');

/* Name Title */
.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
  right: -130px;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #ffffff;
}

.content h2:nth-child(2) {
  color: #ffffff;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.banner{
  background: #b796a3;
  padding-bottom: 40px;
  border-bottom: 2px solid rgba(255,255,255,.5);
}

.container{
  max-width: 600px;
  margin: auto;
}

.info{
  padding-top: 220px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.info p {
  color: #F9F1F0;
  margin: 30px auto;
  font-weight: 100;
  font-size: 20px;
  width: 400px;
  padding-left: 16px;
}

.img-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  border: 2px solid rgba(255,255,255,.5);
  margin: 20px 0px 20px 30px
}

.card-description{
  padding: 30px 40px;
}

h1 {
  color: #F9F1F0;
  font-size: 28px;
  padding-left: 14px;
}

#hi-header{
  font-family: 'Playfair Display', serif;
  padding: 30px 0px 0px 0px;
  text-align: center;
  margin: 0px auto;
}

body {
  margin: 0PX;
  font-weight: 300;
  background: #F9F1F0;
  color: #886F6F;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #694E4E;
  text-shadow:  #00000010 1px 0 10px;
}

li {
  font-size: 30px;
}

.list-inline .icon-footer a:hover {
  transition-duration: 1s;
  color: #F9F1F0;
  font-size: larger;
}

.list-inline .icon-footer a:not(:hover) {
  transition-duration: 1s;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

/* button_in_cards */
.icon-dash-flex{
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0px;
  margin: 0 auto;
}

.icon-dash a{
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  border-radius: 10px;
  background: transparent;
  border: 1.5px solid #b796a375;
  color: #b796a3;
  margin: 16px;
}

.icon-dash a:hover {
  background: rgba(183, 150, 163, 0.381);
}

.icon-dash i{
  font-size: 28px;
  margin: 8px;
  color: #b796a3;
}

.icon-dash .fa-link{
  font-size: 22px;
  margin: 8px;
  color: #b796a3;
}

/* cards */
.cards{
  margin: 30px 60px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  max-width: 1400px;
}

.card-trip {
  border-radius: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-bottom: 4px solid #b796a37d;
}

.card-trip h2 {
  color: #886F6F;
  font-family: 'Roboto', sans-serif;
  font-size: 24PX;
  margin: 10px 20px;
  font-weight: bold;
}

.card-trip p {
  font-size: 14px;
  opacity: .7;
  margin: 15px 24px 86px 24px;
}

.card-social-icons{
  text-align: center;
  background-color: #b796a3;
  padding: 8px;
  margin: auto;
  border-top: 2px solid rgba(255,255,255,.5);
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

@media (max-width: 1260px){
  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }

  .img-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 40px 0px 20px 30px
  }

  .icon-dash-flex{
    flex-wrap: wrap;
    margin: 0px;
  }

  .card-trip p {
    margin: 15px 24px 160px 24px;
  }

  .icon-dash a {
    margin: 10px 13px;
  }
}

@media (max-width: 720px){
  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin: 40px 0px 20px 30px
  }

  .info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .info p {
    width: 300px;
    margin: 16px 0px;
  }

  .icon-dash-flex{
    flex-wrap: wrap;
    margin: 0px;
  }
}

@media (max-width: 540px){
  .cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 26px;
    margin: 40px 0px 20px 30px
  }

  .info{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    width: 540px;
  }

  .info p {
    width: 400px;
    margin: 16px 0px;
    }

  .icon-dash-flex{
    margin: 0 50px;
  }
}

@media (max-width: 390px){
  .img-circle {
    margin: 0px 130px;
    width: 140px;
    height: 140px;
}

  .cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 26px;
    margin: 30px auto;
    }

  .info{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    width: 380px;
    margin-left: 0px;
  }

  .info p {
  width: 300px;
  margin: 16px 0px;
  }

  .card-description {
    padding: 0px 40px;
  }

  .content h2 {
    font-size: 7em;
    right: -168px;
  }
  .icon-dash a {
    margin: 16px 12px;
  }
}

/* flip-words */
.waviy {
  position: relative;
  font-family: 'Playfair Display', serif;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
/*   text-transform: uppercase; */
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}
