@import url(//fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Serif:opsz,wght@8..144,100;8..144,300&display=swap);
@import url(//fonts.googleapis.com/css?family=Vibur);

:root {
  --base: rgb(33, 31, 32);
  --primary: rgba(202, 96, 54, 1);
  --secondary: rgba(3, 123, 133, 1);
  --yellow: #d0b53f;
}

html,
body {
  overflow-x: hidden;
  /* height:100% */
}

body {
  margin: 0px;
  font-weight: 300;
  background: var(--base);
  color: var(--primary);
  font-family: "Gill Sans", sans-serif;
  line-height: 1.6;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--primary);
  text-shadow: #00000010 1px 0 10px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#hello-header {
  padding-top: 90px;
  margin: 0px auto;
  text-transform: uppercase;
  color: var(--secondary);
  line-height: 1.6;
  letter-spacing: 0.25em;
  font-size: 37px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

/* flip-words */
/* .flip-name {
  position: relative;
  font: bold 90px Gill Sans;
  padding: 46px 20px;
}
.flip-name span {
  position: relative;
  display: inline-block;
  background-color: var(--secondary);
  color: transparent;
  text-shadow: 3px 3px 4px rgb(0 0 0 / 62%);
  background-clip: text;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
} */

.logo {
  text-align: center;
  width: 65%;
  height: 35vh;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  user-select: none;
  z-index: 5;
}

.logo b {
  font: 400 16vh "Vibur";
  color: var(--primary);
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span {
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.img-circle {
  /* border-radius: 56% 44% 34% 66% / 57% 60% 40% 43%; */
  border-radius: 50%;
  width: 240px;
  height: 240px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border: 6px solid var(--primary);
  margin: 30px 0px;
  outline: 1px solid var(--secondary);
  outline-offset: 15px;
  opacity: 0.7;
}

.center-circles {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  margin-top: 50vh;
}

.guide-circle {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 18px;
  color: var(--primary);
  height: 160px;
  width: 160px;
  border: 6px solid var(--secondary);
  border-radius: 50%;
  outline: 1px dashed var(--primary);
  outline-offset: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
}

.guide-circle:hover {
  background: var(--yellow);
  transition: 0.5s;
  color: var(--secondary);
  z-index: 5;
}

.guide-circle:not(:hover) {
  transition: 0.5s;
}

.about-me-content {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 18px;
  letter-spacing: 0.2em;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

/* button_in_cards */
.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: var(--base);
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-53 a {
  color: white;
}

.btn-53:disabled {
  cursor: default;
}
.btn-53:-moz-focusring {
  outline: auto;
}
.btn-53 svg {
  display: block;
  vertical-align: middle;
}
.btn-53 [hidden] {
  display: none;
}
.btn-53 {
  font-size: 13px;
  margin: 16px 6px;
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
}
.btn-53 .original {
  background: #fff;
  color: var(--base);
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}
.btn-53:hover .original {
  transform: translateY(100%);
}
.btn-53 .letters {
  display: inline-flex;
  padding: 1rem 2rem;
}
.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}
.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}
.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}
.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}
.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}
.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}
.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}
.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}
.btn-53:hover span:nth-child(7) {
  transition-delay: 0.6s;
}
.btn-53:hover span:nth-child(8) {
  transition-delay: 0.7s;
}

/* ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
.icon-dash-flex {
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.2);
  background: rgba(var(--rgb), 0.36);
  width: 100%;
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0px;
  margin: 0 auto;
}

/* cards */
.cards {
  margin: 30px auto;
  padding: 0px 60px;
  display: grid;
  justify-content: center;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  max-width: 1400px;
}

.card-trip {
  border-radius: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-bottom: 4px solid rgba(var(--rgb), 0.49);
}

.card-trip h2 {
  color: var(--secondary);
  font-size: 24px;
  margin: 10px 20px;
  font-weight: bold;
}

.card-content > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-trip p {
  font-size: 18px;
  font-weight: 300;
  opacity: 0.88;
  margin: 10px 24px 100px 24px;
}

/* Footer */
.card-social-icons {
  text-align: center;
  background-color: var(--base);
  padding: 4px;
  margin: 90px auto 0px auto;
  border-top: 4px dashed rgba(255, 255, 255, 0.5);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.list-inline .icon-footer a:hover {
  transition-duration: 0.6s;
}

.list-inline .icon-footer a:not(:hover) {
  transition-duration: 0.6s;
  color: #f9f1f0;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 40px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

/* skills section */
.skills {
  display: flex;
  justify-content: flex-end;
}

li:has(> .skill-item) {
  list-style: none;
}

.skill-item {
  display: flex;
  align-items: center;
  padding: 0px 18px;
  margin: 0;
  background-color: rgba(var(--rgb), 0.42);
  border-left: 16px solid var(--secondary);
}

.skills img {
  margin: 0px 10px;
  width: 30px;
  height: 30px;
}

.skill-item h2 {
  font-size: 20px;
}

.skill-title {
  margin: 0;
  line-height: 1;
  font-size: 58px;
  text-align: left;
  background-color: var(--secondary);
  color: transparent;
  text-shadow: 3px 3px 4px rgb(0 0 0 / 40%);
  background-clip: text;
  text-transform: uppercase;
  z-index: 5;
}

div:has(> #about-me) {
  position: relative;
  margin-top: 220px;
  width: 100%;
}

.about-me-div {
  margin-left: 60px;
  padding: 20px 60px;
  border: 2px solid;
  outline: 8px solid;
  outline-offset: 15px;
  width: 40%;
  text-align: right;
}

.left {
  transform: rotate(270deg);
  position: absolute;
  left: -8vw;
  top: 82px;
}

div:has(> .right) {
  position: relative;
  margin-top: 220px;
}

.right {
  transform: rotate(90deg);
  position: absolute;
  right: -8vw;
  top: 100px;
}

@media (max-width: 830px) {
  .cards {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 0px 30px;
  }

  div:has(> .img-circle) {
    margin: 0 auto;
  }

  .card-trip p {
    margin: 10px 24px 180px 24px;
  }

  .icon-dash-flex {
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .icon-dash a {
    margin: 10px 13px;
  }
}

@media (max-width: 720px) {
  .cards {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin: 30px auto;
    padding: 0px 30px;
  }

  .card-trip p {
    margin: 10px 24px 180px 24px;
  }

  .icon-dash-flex {
    flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media (max-width: 540px) {
  div:has(> .img-circle) {
    margin: 0 auto;
  }

  .cards {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 26px;
    margin: 30px auto;
    padding: 0px 30px;
  }

  .card-trip p {
    margin: 10px 24px 100px 24px;
  }

  .icon-dash-flex {
    margin: 0 auto;
  }

  .skills {
    margin: 30px auto 60px auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .skill-item h2 {
    font-size: 18px;
  }

  .skill-title {
    font: bold 60px Gill Sans;
  }
}

@media (max-width: 390px) {
  div:has(> .img-circle) {
    margin: 0 auto;
  }

  .cards {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 26px;
    margin: 30px auto;
    padding: 0px 30px;
  }

  .card-trip p {
    margin: 10px 24px 100px 24px;
  }

  .skills {
    margin: 30px auto 60px auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .skill-title {
    font: bold 60px Gill Sans;
  }

  .skill-item h2 {
    font-size: 18px;
  }

  .btn-53 {
    font-weight: 600;
  }

  .btn-53 .letters {
    padding: 0.8rem 1rem;
  }
}
