@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Serif:opsz,wght@8..144,100;8..144,300&display=swap');

:root {
  /* --base: #cdb3a7;
  --rgb: 205, 179, 167; */
  --base: #b796a3;
  --rgb: 183, 150, 163;
}

/* Name Title */
.content {
  position: relative;
}

.content h2 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(40%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2.5px rgb(255 255 255 / 90%);
}

.content h2:nth-child(2) {
  color: #ffffff;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.banner{
  background: var(--base);
  padding-bottom: 40px;
  border-bottom: 2px solid rgba(255,255,255,.5);
}

.container{
  width: 60%;
  margin: auto;
}

.info{
  padding-top: 220px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.info p {
  color: #F9F1F0;
  margin: 16px auto;
  font-weight: 400;
  font-size: 20px;
  width: 450px;
  padding-left: 16px;
}

.img-circle {
  border-radius: 56% 44% 34% 66% / 57% 60% 40% 43%;
  width: 240px;
  height: 240px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  border: 6px solid rgba(255,255,255,.6);
  margin: 30px 0px;
}

.card-description{
  padding: 30px 40px;
}

h1 {
  color: #F9F1F0;
  font-size: 40px;
  font-weight: bold;
}

#hi-header{
  padding: 30px 0px 0px 0px;
  margin: 0px auto;
  text-align: center;
  /* font: bold 40px arial, serif; */
  font: bold 40px serif;
  letter-spacing: 2.5px;
}

html,body{
  overflow-x: hidden;
}

body {
  margin: 0PX;
  font-weight: 300;
  background: #F9F1F0;
  color: #886F6F;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #694E4E;
  text-shadow:  #00000010 1px 0 10px;
}

li {
  font-size: 30px;
}

.list-inline .icon-footer a:hover {
  transition-duration: 1s;
  color: #F9F1F0;
  font-size: larger;
}

.list-inline .icon-footer a:not(:hover) {
  transition-duration: 1s;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

/* button_in_cards */
.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: var(--base);
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-53 a{
  color: white;
}

.btn-53:disabled {
  cursor: default;
}
.btn-53:-moz-focusring {
  outline: auto;
}
.btn-53 svg {
  display: block;
  vertical-align: middle;
}
.btn-53 [hidden] {
  display: none;
}
.btn-53 {
  font-size: 13px;
  margin: 16px 6px;
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
}
.btn-53 .original {
  background: #fff;
  color: var(--base);
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}
.btn-53:hover .original {
  transform: translateY(100%);
}
.btn-53 .letters {
  display: inline-flex;
  padding: 1rem 2rem;
}
.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}
.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}
.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}
.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}
.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}
.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}
.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}
.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}
.btn-53:hover span:nth-child(7) {
  transition-delay: 0.6s;
}
.btn-53:hover span:nth-child(8) {
  transition-delay: 0.7s;
}

/* ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ */
.icon-dash-flex{
  box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.2);
  background: rgba(var(--rgb), 0.36);
  width: 100%;
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0px;
  margin: 0 auto;
}

/* .icon-dash{
  color: var(--base);
	transition: all 0.3s;
	position: relative;
}

.icon-dash a{
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  border-radius: 10px;
  background: transparent;
  border: 1.5px solid rgba(var(--rgb), 0.459);
  color: var(--base);
  margin: 16px;
}

.icon-dash a:hover {
  background: rgba(var(--rgb), 0.38);
}

.icon-dash i{
  font-size: 28px;
  margin: 8px;
  color: var(--base);
}

.icon-dash .fa-link{
  font-size: 22px;
  margin: 8px;
  color: var(--base);
} */

/* cards */
.cards{
  margin: 30px auto;
  padding: 0px 60px;
  display: grid;
  justify-content: center;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  max-width: 1400px;
}

.card-trip {
  border-radius: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 6px 6px 20px 0px rgba(0,0,0,0.2);
  position: relative;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-bottom: 4px solid rgba(var(--rgb), 0.49);
}

.card-trip h2 {
  color: #886F6F;
  font-family: 'Roboto', sans-serif;
  font-size: 24PX;
  margin: 10px 20px;
  font-weight: bold;
}

.card-trip p {
  font-size: 16px;
  font-weight: 400;
  opacity: .7;
  margin: 15px 24px 100px 24px;
}

.card-social-icons{
  text-align: center;
  background-color: var(--base);
  padding: 8px;
  margin: 90px auto 0px auto;
  border-top: 2px solid rgba(255,255,255,.5);
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

/* flip-words */
.waviy {
  white-space: nowrap;
  position: relative;
  /* font-family: arial, serif; */
  font-family: serif;
  font-weight: bold;
  padding: 0px 16px;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 35px;
  color: #fff;
/*   text-transform: uppercase; */
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}

/* skills section */
.skills{
  margin: 30px auto 60px auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;
}

.skill-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 18px;
  border-radius: 50px;
  background-color: rgba(var(--rgb), 0.42);
  border: 2.5px dotted #ffffff99;
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.2);
}

.skills img{
  width: 45px;
  height: 45px;
}

.skill-item h2{
  font-size: 20px;
}

.skill-title{
  margin-top: 90px;
  text-align: center;
  /* font: bold 80px arial, sans-serif; */
  font: bold 80px serif;
  background-color: var(--base);
  color: transparent;
  text-shadow: 3px 3px 4px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

@media (max-width: 830px){
  .cards{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    padding: 0px 30px;
  }

  .img-circle {
    border-radius: 56% 44% 34% 66% / 57% 60% 40% 43%;
    width: 150px;
    height: 150px;
    margin: 40px 0px 20px 30px
  }

  .card-trip p {
    margin: 15px 24px 180px 24px;
  }

  .icon-dash-flex{
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .icon-dash a {
    margin: 10px 13px;
  }

  .content h2 {
    font-size: 7em;
    transform: translate(15%, -35%);
  }
}

@media (max-width: 720px){
  .cards{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin: 30px auto;
    padding: 0px 30px;
  }

  .info{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .info p {
    width: 300px;
    margin: 16px 0px;
  }

  .card-trip p {
    margin: 15px 24px 180px 24px;
  }

  .icon-dash-flex{
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .content h2 {
    font-size: 7em;
    transform: translate(10%, -50%);
  }
}

@media (max-width: 540px){
  .img-circle {
    margin: 5px 130px 0px 145px;
  }

  .cards{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 26px;
    margin: 30px auto;
    padding: 0px 30px;
  }

  .info{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  .info p {
    width: 350px;
    margin: 16px 0px;
  }

  .content h2 {
    font-size: 7em;
    transform: translate(-15%, -50%);
  }

  .card-trip p {
    margin: 15px 24px 100px 24px;
  }

  .icon-dash-flex{
    margin: 0 auto;
  }

  .skills{
    margin: 30px auto 60px auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .skill-item h2{
    font-size: 18PX;
  }

  .skill-title {
    font: bold 60px serif;
}
}

@media (max-width: 390px){
  .img-circle {
    margin: 0px 130px;
  }

  .cards{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 26px;
    margin: 30px auto;
    padding: 0px 30px;
  }

  .info{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin-left: 0px;
  }

  .info p {
  width: 300px;
  margin: 16px 0px;
  }

  .card-description {
    padding: 0px 40px;
  }

  .content h2 {
    font-size: 7em;
    transform: translate(-17%, -50%);
  }

  .card-trip p {
    margin: 15px 24px 100px 24px;
  }

  .skills{
    margin: 30px auto 60px auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .skill-title{
    font: bold 60px serif;
  }

  .skill-item h2{
    font-size: 18PX;
  }

  .btn-53 {
    font-weight: 600;
  }

  .btn-53 .letters{
    padding: 0.8rem 1rem;
  }
}
