@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Serif:opsz,wght@8..144,100;8..144,300&display=swap');

.banner{
  background: #b796a3;
  padding-bottom: 40px;
  border-bottom: 2px solid rgba(255,255,255,.5);
}

.container{
  width: 600px;
  margin: auto;
}

.info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-description{
  padding: 30px 40px;
}

svg{
  display: block;
  padding: 20px 30px;
  height: 210px;
  width: 600px;
}

.info p {
  color: #F9F1F0;
  margin: 30px auto;
  font-weight: 100;
  font-size: 20px;
  width: 400px;
  padding-left: 16px;
}

.img-circle {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0 10px 30px rgba(0,0,0,.2);
  border: 2px solid rgba(255,255,255,.5);
  margin: 20px 0px 20px 30px
}

h1 {
  color: #F9F1F0;
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  padding-left: 14px;
}

body {
  /* min-width: 700px; */
  margin: 0PX;
  font-weight: 300;
  background: #F9F1F0;
  color: #886F6F;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #694E4E;
  text-shadow:  #00000010 1px 0 10px;
}

li {
  font-size: 30px;
}

.list-inline .icon-footer a:hover {
  transition-duration: 1s;
  color: #F9F1F0;
  font-size: larger;
}

.list-inline .icon-footer a:not(:hover) {
  transition-duration: 1s;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.cards{
  margin: 30px 60px;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-trip {
  border-radius: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-bottom: 4px solid #b796a37d;
}

.card-trip h2 {
  color: #886F6F;
  font-family: 'Playfair Display', serif;
  font-size: 24PX;
  margin: 10px 15px;
}

.card-trip p {
  font-size: 14px;
  opacity: .7;
  margin: 15px 20px;
}

.card-social-icons{
  /* width: fit-content; */
  text-align: center;
  background-color: #b796a3;
  padding: 8px;
  margin: auto;
  border-top: 2px solid rgba(255,255,255,.5);
  /* border-radius: 15px; */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

@media (max-width: 830px){
  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }

  .img-circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 40px 0px 20px 30px
  }
}

@media (max-width: 720px){
  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin: 40px 0px 20px 30px
  }

  .info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .info p {
    width: 300px;
    margin: 16px 0px;
  }

}

@media (max-width: 540px){
  .cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 26px;
    margin: 40px 0px 20px 30px
  }

  .info{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    width: 540px;
  }

  .info p {
    width: 400px;
    margin: 16px 0px;
    }
}

@media (max-width: 390px){
  .img-circle {
    margin: 0px 130px;
    width: 140px;
    height: 140px;
}

  .cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 26px;
    margin: 30px auto;
    }

  .info{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    width: 390px;
  }

  .info p {
  width: 300px;
  margin: 16px 0px;
  }

  .card-description {
    padding: 0px 40px;
  }
}

.icon-dash-flex{
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
}

.icon-dash a{
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 145px;
  height: 45px;
  border-radius: 10px;
  background: transparent;
  border: 1px dashed #b796a3;
  color: #b796a3;
  margin: 5px;
}

.icon-dash a:hover {
  background: rgba(183, 150, 163, 0.381);
}

.icon-dash i{
  font-size: 28px;
  margin: 8px;
  color: #b796a3;
}

.icon-dash .fa-link{
  font-size: 22px;
  margin: 8px;
  color: #b796a3;
}
